/*Neua Machina*/
@font-face {
    font-family: 'Neua Machina-regular';
    src: url(../fonts/neuemachina-regular.otf);
}
@font-face {
    font-family: 'Neua Machina-light';
    src: url(../fonts/neuemachina-light.otf);
}

/*Open sans*/
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}